/* .SignIn {
  display: flex;
  justify-content: center;
  padding: 30px;
} */

.App-signin, .App-signup {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.signForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signForm > form {
  padding: 30px;
  display: flex;
  flex-direction: column;
  width: 40%;
}

.signForm > form input {
  margin: 15px;
  padding:15px;
  border: none;
  border-bottom: 2px solid #222;
}

.signForm > form input:focus {
  outline: none;
  border-bottom: 2px solid rgba(0, 17, 255, 0.411);
}

.btn-enabled {
  padding: 5px;
  border-radius: 5px;
}

.btn-disabled {
  padding: 5px;
  border-radius: 5px;
  opacity: 0.65;
  cursor: not-allowed;
}